.header{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.enlace{
    background-color: #f9e79f;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 15px 30px;
}

.enlace:hover{
    background-color: #fbd22a;
}

.nav{
    background-color: #f9e79f;
    background-size: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 35;
}

.imgmenu{
    display: flex;
    text-align: center;
    margin-left: 380px;
}

.menus{
    display: flex;
    text-align: center;
}

.columna{
    margin-left: 10px;
    background-color: #cfa90f;
    color: black;
    border: 1px solid red ;
    border-radius: 20px;
}

.sepimg{
    margin-right: 300px;
}

.piedepag{
    background-color: #f9e79f;
}